body {
    font-family: sans-serif;
  }
  
  input {
    border: 0;
    padding: 0.5rem;
    width: 300px;
    border-radius: 5px 0 0 5px;
  }
  @media only screen and (max-width: 600px) and (min-width: 400px)  {
    input {
      width: 100px;
    } 
  }
  @media only screen and (max-width: 800px) and (min-width: 600px)  {
    input {
      width: 200px;
    } 
  }
  .search{
    border: 0;
    padding: 0.5rem;
    width: 4.5em;
    border-radius: 0 5px 5px 0;
  }
  .search:hover{
    cursor: pointer;
    box-shadow: 0 16px 70px -12.125px rgba(0,0,0,0.3);
  }
  .input:focus{
    box-shadow: 0 16px 70px -12.125px rgba(0,0,0,0.3);
  }
  .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    z-index: 99999;
    background: white;
    color: #424242;
    width: 400px;
  }
  @media only screen and (max-width: 800px) and (min-width: 600px)  {
    .suggestions {
      width: 300px;
    } 
  }
  @media only screen and (max-width: 600px) and (min-width: 300px)  {
    .suggestions {
      width: 200px;
    } 
  }
  .suggestions:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background: #E0E0E0;
    color: black;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }
  