.root{
    flex-grow: 1;
}

.spacer1{
    flex-grow: 0.7;
}
.spacer2{
    flex-grow: 1;
}
.logo-name{
    font-size: 2em;
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    padding: 0;
}
.head-container{
    box-sizing: border-box;
    display: flex;
    background: #0077c1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo-container{
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.logo-container span{
    font-family: 'Kaushan Script', cursive;
}
@media only screen and (max-width: 600px) and (min-width: 300px)  {
    .logo-name{
        font-size: 1.2em;

    }
  }
  @media only screen and (max-width: 400px)  {
    .logo-name{
        font-size: 0em;

    }
  }
.setting-container{
    box-sizing: border-box; 
    padding: 5px;
    flex-grow: 0.5;
}

.logo-img{
    width: 70px;
    height: 70px;
}
.logo-container span{
   

}