/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
.App{
  flex-grow: 1;
}
.main-Container{
  margin: 0;
}
.main-wrap{
}
.loading{
  text-align: center;
  font-size: 1.5em;
}
.Header{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.Header > div:first-child,.Content > div:first-child{
  flex-grow: 0.7;
  flex-basis: 0;
  box-sizing: border-box;
}

.Content{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}
.Content > div:first-child{
  display: flex;
  flex-direction: row;
}

.TodayInfo-Card{
  margin: 10px;
  border-radius: 20px;
  box-shadow: '0 8px 40px -12px rgba(0,0,0,0.3)';
    transition: '0.3s';
}
